APP_NAME="SACCO Management System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

APP_FRONTEND_URL=http://localhost:3000

# Database
DB_CONNECTION=sqlite
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=sacco_management_system
# DB_USERNAME=root
# DB_PASSWORD=

# Cache & Session
CACHE_STORE=database
SESSION_DRIVER=database
QUEUE_CONNECTION=database

# Redis
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Mail
MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@saccomanagement.com"
MAIL_FROM_NAME="${APP_NAME}"

# Sanctum
SANCTUM_STATEFUL_DOMAINS=localhost,localhost:3000,127.0.0.1,127.0.0.1:8000,::1

# API Versioning
API_VERSION_STRATEGY=uri
API_DEFAULT_VERSION=latest
API_VERSION_TRACKING=false
API_DOCS_URL=

# Scramble
SCRAMBLE_TITLE="SACCO Management System API"

# Log Viewer
LOG_VIEWER_PATH=logs

# Gemini API Key for AI Chatbot Assistant
GEMINI_API_KEY=

# Chapa Payment Gateway
CHAPA_PUBLIC_KEY=CHAPUBK_TEST-2QZVRz6aH3E8UOows1BTvMUXFH7zVYGP
CHAPA_SECRET_KEY=CHASECK_TEST-G3RYDzBFNMdhzjXp9UnxXzPfQtuyER7H
